.rectangle {
  width: 1439px;
  height: 843px;
  background-color: #ffffff;
}
.rectangle-5 {
  width: 400px;
  height: 45px;
  border-radius: 100px;
  border: solid 1px #fbfbfb;
  display: flex;
  flex-direction: row;
  margin-top: 19px;
}
.question {
  width: 728px;
  height: 18px;
  font-family: Muli;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.4px;
  text-align: center;
  color: #ffffff;
  padding-top: 20px;
}
div.question::first-letter {
  text-transform: capitalize;
}
.answers {
  padding-top: 30px;
  padding-left: 159px;
  padding-right: 199px;
}
.selectedOption {
  @include option-prototype;
  box-shadow: 0 0 6px 1px rgba(195, 51, 51, 0.5);
}

.correctOption {
  @include option-prototype;
  box-shadow: 0 0 6px 1px rgba(0, 115, 101, 0.5);
}

.selectedAnswer {
  @include answer-prototype($warm-color);
}
.correctAnswer {
  @include answer-prototype($cold-color);
}
.option {
  @include answer-prototype($neutral-color);
}

.mask {
  @include mask-prototype;
  background-image: linear-gradient(
    to bottom,
    rgba(250, 145, 97, 0.7),
    rgba(247, 59, 28, 0.69)
  );
  box-shadow: 0 2px 12px 6px rgba(167, 196, 220, 0.5);
}
.mask2 {
  @include mask-prototype;
  background-image: linear-gradient(
    to bottom,
    rgba(250, 145, 97, 0.55),
    rgba(247, 59, 28, 0.6)
  );
  box-shadow: 0 2px 12px 6px rgba(167, 196, 220, 0.5);
}
.mask3 {
  @include mask-prototype;
  background-image: linear-gradient(
    to bottom,
    rgba(250, 145, 97, 0.45),
    rgba(247, 59, 28, 0.5)
  );
  box-shadow: 0 2px 12px 6px rgba(167, 196, 220, 0.5);
}
.maskCorrect {
  @include mask-prototype;
  background-image: linear-gradient(to bottom, #47e4c1, #07cddd);
  box-shadow: 0 2px 12px 6px rgba(167, 196, 220, 0.5);
}

.the-answer-is-incorr {
  width: 728px;
  height: 18px;
  font-family: Muli;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.4px;
  text-align: center;
  color: #ffffff;
  padding-top: 20px;
}

// Loaders and Errors

.loader {
  font-size: 20px;
  color: #ffffff;
  text-align: center;
}
.error {
  text-align: center;
  font-size: 20px;
  color: #ffffff;
}
